#! /usr/bin/env bash

{{ if eq .chezmoi.os "linux" -}}
# packer.nvim
git clone --depth 1 https://github.com/wbthomason/packer.nvim \
  ~/.local/share/nvim/site/pack/packer/start/packer.nvim
# starship
apk add --no-cache starship
# zoxide
curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash
{{ else if eq .chezmoi.os "darwin" -}}
{{ end -}}
