#! /usr/bin/env bash

{{ if eq .chezmoi.os "linux" -}}
# starship
apk add --no-cache starship
# zoxide
curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash
{{ else if eq .chezmoi.os "darwin" -}}
# tea
sh <(curl https://tea.xyz)
# homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ end -}}
