[user]
	name = John Allen
	email = john@threedogconsulting.com
[merge]
  tool = p4merge
  keepBackup = false
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[diff]
  external = p4diff
[core]
  excludesfile = /Users/johna/.gitignore
  editor = /usr/bin/vim
[github]
  user = johnallen3d
[alias]
  lol = log --pretty=oneline --graph
  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  head = !git l -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
[heroku]
	account = nekes
