[user]
  name = John Allen
  email = john@threedogconsulting.com
[core]
  excludesfile = ~/.gitignore
[github]
  user = johnallen3d
[alias]
  lol = log --pretty=oneline --graph
  head = !git l -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
[heroku]
  account = nekes
[pull]
  rebase = true
[color]
  ui = true
[push]
	default = simple
[commit]
  template = ~/.gitmessage
