# ignore vim temp files
*~
.*.sw*

# ignore common system files
.DS_Store

# always ignore tag files
tags

# igrnore zeus config
custom_plan.rb
zeus.json

# Pow and Powder config
/.pow*

# RVM and rbenv
/.rvmrc
/.rbenv-version

# Bundler binstubs
/bin/
